# 1.0_PRONOSTIA_explore.ipynb linguist-documentation
# 1.0_IMS_explore.ipynb linguist-documentation
# notebooks/1.0_best_results_femto_2021.04.07.ipynb linguist-documentation
# notebooks/1.0_best_results_ims_2021.04.05.ipynb linguist-documentation
# src/data/test_make_data.ipynb linguist-documentation
# notebooks/scratch/test_count_figure.ipynb linguist-documentation
*.ipynb linguist-documentation

# notebooks/scratch/ linguist-documentation

# *convergence_charts.ipynb linguist-documentation
# *correlation_chart.ipynb linguist-documentation
# *test_count_figure.ipynb linguist-documentation